@charset "UTF-8";
/* ===================== AJUSTES GENERALES ===================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none; /* Sirve para quitar subrayados a la etiqueta*/
  list-style: none; /* Sirve para quitar viñetas de las listas */
  box-sizing: border-box;
}

body {
  background-color: #EFEEE9;
  font-family: "roboto", sans-serif;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: #000;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  main {
    margin: 0 1.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
.btn-primary {
  background-color: #000;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #000;
}

.btn-primary:hover {
  background-color: #FFF;
  color: #000;
}

.cover {
  border-radius: 40px;
  padding-top: 7rem;
  position: relative;
}
.cover__section {
  position: relative;
  height: calc(100vh - 6rem);
  border-radius: 40px;
  background-color: #FFF;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.cover__section img {
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
  height: 100%;
}
.cover__title {
  position: absolute;
  left: 0;
  bottom: 25%;
  right: 0;
  display: flex;
  justify-content: center;
}
.cover__title h1 {
  color: #FFF;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .cover__section {
    height: 20rem;
    padding: 0;
    display: flex;
  }
  .cover__title {
    bottom: 20%;
    text-align: center;
  }
}
.whatsapp {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background-color: #25d366;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.whatsapp:hover {
  transform: scale(1.1);
}
.whatsapp__link img {
  vertical-align: middle;
  width: 28px;
  height: 28;
  margin-left: 2px;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .whatsapp {
    bottom: 12px;
    right: 12px;
  }
}
.header {
  position: fixed;
  display: flex;
  background-color: #EFEEE9;
  width: 100%;
  height: 6rem;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  z-index: 10;
}
.header__section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__section .toggle-menu {
  display: none;
}
.header__section div {
  width: 10%;
}
.header__section div a {
  display: flex;
}
.header__section div a .header__logo {
  width: 100%;
}
.header__section .header__nav__items {
  display: flex;
  column-gap: 27px;
}
.header__section .header__nav__items .header__nav__link a {
  color: #000;
  font-weight: 500;
}
.header__section .header__nav__items .header__nav__link a:hover {
  text-decoration: underline;
}
.header__section .header__nav__items .header__nav__link--selected a {
  text-decoration: underline;
}
.header__section.active {
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.35);
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .header {
    height: 5rem;
  }
  .header__section {
    width: 100%;
    flex-direction: column;
  }
  .header__section .header__nav__items {
    display: flex;
  }
  .header__section .header__nav__items .header__nav__link {
    padding: 12px 24px;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__section .header__nav__items .header__nav__link a {
    color: #000;
  }
  .header__section .header__nav__items .header__nav__link a:hover {
    color: #000;
    border-bottom: none;
  }
  .header__section .header__nav__items .header__nav__link--selected a {
    font-weight: bold;
    color: #000;
    border-bottom: none;
  }
  .header__section .toggle-menu {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1;
  }
  .header__section .main-menu--show {
    transition: transform 0.3s;
    transform: translateY(100%);
  }
  .header__section .header__logo-content {
    display: block;
    width: 22%;
    position: absolute;
    top: 1.6rem;
    left: 2rem;
    cursor: pointer;
    z-index: 1;
  }
  .header__section .header__logo-content img {
    width: 100%;
  }
  .header__section .header__nav {
    width: 100%;
    margin-top: 1.8rem;
  }
  .header__section .header__nav__items {
    text-align: center;
    background-color: #EFEEE9;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
  }
}
.footer {
  background-color: #000;
  display: flex;
  padding: 2rem 0;
}
.footer__section {
  max-width: 1140px;
  margin: 0 auto;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.footer__section__title {
  font-size: 20px;
  font-weight: 600;
}
.footer__section .social {
  display: flex;
  column-gap: 1.8rem;
}
.footer__section .social a {
  transition: transform 0.3s;
}
.footer__section .social a:hover {
  transform: scale(1.1);
}
.footer__section__address {
  font-size: 16px;
}
.footer__section__links .footer__section__link {
  display: flex;
  column-gap: 27px;
}
.footer__section__links .footer__section__link a {
  color: #FFF;
}
.footer__section__links .footer__section__link a:hover {
  text-decoration: underline;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .footer__section__links .footer__section__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}
.build {
  border-radius: 40px;
  padding-top: 7rem;
}
.build__section {
  position: relative;
  height: calc(100vh - 6rem);
  display: grid;
  grid-template-columns: 3fr 2fr;
  border-radius: 40px;
  padding: 72px;
  background-color: #FFF;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.build__section--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 562px;
}
.build__section--left .build__section--desc {
  font-size: 16px;
  font-weight: 400;
}
.build__section--left .build__section--button {
  margin-top: 1rem;
}
.build__section--right img {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-end-end-radius: 40px;
}

.info {
  margin-top: 60px;
}
.info__section {
  text-align: center;
}
.info__section__cards {
  display: flex;
  column-gap: 1.5rem;
  margin-top: 2.25rem;
}
.info__section__cards .info__section--card {
  background-color: #FFF;
  width: 363px;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.info__section__cards .info__section--card img {
  width: 48px;
}

.video {
  margin-top: 60px;
  background-color: #FFF;
  border-radius: 40px;
  padding: 72px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.video__section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}
.video__section__up {
  width: 562px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.video__section__up .video__section--button {
  margin: 1rem 0;
}

.form {
  margin-top: 60px;
  background-color: #FFF;
  border-radius: 40px;
  padding: 72px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}
.form__section {
  text-align: center;
}
.form__section__container {
  margin-top: 1.5rem;
}
.form__section__container input {
  width: 555px;
  height: 3rem;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
}
.form__section__container select {
  width: 555px;
  height: 3rem;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
}
.form__section__container textarea {
  width: 555px;
  height: 6.75rem;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  resize: none;
}
.form__section__container .form__content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .build {
    padding-top: 6rem;
  }
  .build__section {
    height: auto;
    padding: 2rem;
    display: flex;
  }
  .build__section--left {
    width: 100%;
    text-align: center;
  }
  .build__section--left .build__section--button {
    margin: 1rem 0;
  }
  .build__section--right {
    display: none;
  }
  .info {
    margin-top: 40px;
  }
  .info__section {
    text-align: center;
  }
  .info__section__cards {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    row-gap: 1.5rem;
  }
  .info__section__cards .info__section--card {
    width: 100%;
    padding: 2rem;
  }
  .video {
    padding: 2rem;
    margin-top: 40px;
  }
  .video__section__up {
    width: 100%;
  }
  .video__section__down iframe {
    width: 100%;
    height: 100%;
  }
  .form {
    padding: 2rem;
    margin-top: 40px;
  }
  .form__section__container input {
    width: 100%;
    height: 2.5rem;
  }
  .form__section__container select {
    width: 100%;
    height: 2.5rem;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
  }
  .form__section__container textarea {
    width: 100%;
    height: 5.75rem;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
    resize: none;
  }
  .form__section__container .form__content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
.goal {
  margin-top: 60px;
  background-color: #FFF;
  border-radius: 40px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}
.goal__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.25rem;
}
.goal__section img {
  width: 48px;
}
.goal__section p {
  font-size: 18px;
}

.team {
  margin-top: 60px;
  background-color: #FFF;
  border-radius: 40px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}
.team__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.25rem;
}
.team__section img {
  width: 48px;
}
.team__section p {
  font-size: 18px;
}

.video {
  margin-bottom: 60px;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .goal {
    padding: 2rem;
    margin-top: 40px;
  }
  .team {
    margin-top: 40px;
    padding: 2rem;
  }
}
.testimonial {
  margin: 60px 0;
  position: relative;
}
.testimonial__title {
  text-align: center;
}
.testimonial__section {
  background-color: #FFF;
  border-radius: 40px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: 2.25rem;
}
.testimonial__section--img img {
  width: 374px;
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.testimonial__section--content {
  padding: 46px 90px 46px 46px;
}
.testimonial__section--content .testimonial--age {
  margin-top: 10px;
  font-size: 18px;
}
.testimonial__section--content .testimonial--desc {
  margin-top: 38px;
  font-size: 18px;
  line-height: 32px;
}
.testimonial__arrow {
  position: absolute;
  right: -38px;
  top: 50%;
  margin: auto;
}
.testimonial__arrow img {
  width: 76px;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .testimonial {
    margin-top: 40px;
  }
  .testimonial__section {
    flex-direction: column;
  }
  .testimonial__section--img img {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 40px;
  }
  .testimonial__section--content {
    padding: 2rem;
    text-align: center;
  }
  .testimonial__section--content .testimonial--desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
  }
  .testimonial__arrow {
    right: -20px;
  }
  .testimonial__arrow img {
    width: 50px;
  }
}
.available {
  margin: 60px 0;
}
.available__title {
  text-align: center;
}
.available__section {
  row-gap: 3rem;
  display: flex;
  flex-direction: column;
}
.available__section__container {
  display: flex;
  background-color: #FFF;
  margin-top: 2rem;
  border-radius: 40px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.available__section__container .available__section--img img {
  width: 544px;
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.available__section__container .available__section--content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
}
.available__section__container .available__section--content .available--desc {
  text-align: center;
}
.available__section__container .available__section--content .available--btn {
  margin-top: 1rem;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .available__section {
    row-gap: 1rem;
  }
  .available__section__container {
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .available__section__container .available__section--img img {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 40px;
  }
  .available__section__container .available__section--content {
    padding: 28px 40px 0;
  }
  .available__section__container .available__section--content .available--btn {
    margin: 1rem 0 3rem;
  }
}
.not-found {
  padding-top: 6rem;
  border-radius: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.not-found__section {
  border-radius: 40px;
  padding: 72px;
  background-color: #FFF;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.not-found__section p {
  font-size: 24px;
  font-weight: 700;
}
.not-found__section h1 {
  font-size: 120px;
  font-weight: 700;
  margin: 1rem 0;
}
.not-found__section .not-found--btn {
  margin-top: 1.5rem;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .not-found__section {
    padding: 2rem;
  }
  .not-found__section h1 {
    margin: 0;
  }
  .not-found__section .not-found--btn {
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
