@charset "UTF-8";
/* ===================== AJUSTES GENERALES ===================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none; /* Sirve para quitar subrayados a la etiqueta*/
  list-style: none; /* Sirve para quitar viñetas de las listas */
  box-sizing: border-box;
}

body {
  background-color: #EFEEE9;
  font-family: "roboto", sans-serif;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: #000;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

.btn-primary {
  background-color: #000;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #000;
}

.btn-primary:hover {
  background-color: #FFF;
  color: #000;
}

.cover {
  border-radius: 40px;
  padding-top: 6rem;
  position: relative;
}
.cover__section {
  position: relative;
  height: calc(100vh - 6rem);
  border-radius: 40px;
  background-color: #FFF;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.cover__section img {
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.cover__title {
  position: absolute;
  left: 0;
  bottom: 25%;
  right: 0;
  display: flex;
  justify-content: center;
}
.cover__title h1 {
  color: #FFF;
}

.whatsapp {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background-color: #25d366;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.whatsapp:hover {
  transform: scale(1.1);
}
.whatsapp__link img {
  vertical-align: middle;
  width: 28px;
  height: 28;
  margin-left: 2px;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {
  .whatsapp {
    bottom: 12px;
    right: 12px;
  }
}
.header {
  position: fixed;
  display: flex;
  background-color: #EFEEE9;
  width: 100%;
  height: 6rem;
  z-index: 10;
}
.header__section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div {
  width: 10%;
}
.header div a {
  display: flex;
}
.header div a .header__logo {
  width: 100%;
}
.header .header__nav__items {
  display: flex;
  column-gap: 27px;
}
.header .header__nav__items .header__nav__link a {
  color: #000;
  font-weight: 500;
}
.header .header__nav__items .header__nav__link a:hover {
  text-decoration: underline;
}
.header .header__nav__items .header__nav__link--selected a {
  text-decoration: underline;
}
.header.active {
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.35);
}

/* ===================== MOBILE ===================== */
.footer {
  background-color: #000;
  display: flex;
  padding: 2rem 0;
}
.footer__section {
  max-width: 1140px;
  margin: 0 auto;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.footer__section__title {
  font-size: 20px;
  font-weight: 600;
}
.footer__section .social {
  display: flex;
  column-gap: 1.8rem;
}
.footer__section .social a {
  transition: transform 0.3s;
}
.footer__section .social a:hover {
  transform: scale(1.1);
}
.footer__section__address {
  font-size: 16px;
}
.footer__section__links .footer__section__link {
  display: flex;
  column-gap: 27px;
}
.footer__section__links .footer__section__link a {
  color: #FFF;
}
.footer__section__links .footer__section__link a:hover {
  text-decoration: underline;
}

.build {
  border-radius: 40px;
  padding-top: 6rem;
}
.build__section {
  position: relative;
  height: calc(100vh - 6rem);
  display: grid;
  grid-template-columns: 3fr 2fr;
  border-radius: 40px;
  padding: 72px;
  background-color: #FFF;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.build__section--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 562px;
}
.build__section--left .build__section--desc {
  font-size: 16px;
  font-weight: 400;
}
.build__section--left .build__section--button {
  margin-top: 1rem;
}
.build__section--right img {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-end-end-radius: 40px;
}

.info {
  margin-top: 60px;
}
.info__section {
  text-align: center;
}
.info__section__cards {
  display: flex;
  column-gap: 1.5rem;
  margin-top: 2.25rem;
}
.info__section__cards .info__section--card {
  background-color: #FFF;
  width: 363px;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.info__section__cards .info__section--card img {
  width: 48px;
}

.video {
  margin-top: 60px;
  background-color: #FFF;
  border-radius: 40px;
  padding: 72px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.video__section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}
.video__section__up {
  width: 562px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.video__section__up .video__section--button {
  margin: 1rem 0;
}

.form {
  margin-top: 60px;
  background-color: #FFF;
  border-radius: 40px;
  padding: 72px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}
.form__section {
  text-align: center;
}
.form__section__container {
  margin-top: 1.5rem;
}
.form__section__container input {
  width: 555px;
  height: 3rem;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
}
.form__section__container select {
  width: 555px;
  height: 3rem;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
}
.form__section__container textarea {
  width: 555px;
  height: 6.75rem;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  resize: none;
}
.form__section__container .form__content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.goal {
  margin-top: 60px;
  background-color: #FFF;
  border-radius: 40px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}
.goal__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.25rem;
}
.goal__section img {
  width: 48px;
}
.goal__section p {
  font-size: 18px;
}

.team {
  margin-top: 60px;
  background-color: #FFF;
  border-radius: 40px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}
.team__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.25rem;
}
.team__section img {
  width: 48px;
}
.team__section p {
  font-size: 18px;
}

.testimonial {
  margin-top: 60px;
  position: relative;
}
.testimonial__title {
  text-align: center;
}
.testimonial__section {
  background-color: #FFF;
  border-radius: 40px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: 2.25rem;
}
.testimonial__section--img img {
  width: 374px;
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.testimonial__section--content {
  padding: 46px 90px 46px 46px;
}
.testimonial__section--content .testimonial--age {
  margin-top: 10px;
  font-size: 18px;
}
.testimonial__section--content .testimonial--desc {
  margin-top: 38px;
  font-size: 18px;
  line-height: 32px;
}
.testimonial__arrow {
  position: absolute;
  right: -38px;
  top: 50%;
  margin: auto;
}
.testimonial__arrow img {
  width: 76px;
}

/*# sourceMappingURL=styles.css.map */
