// Color principal
$color-main: (
    primary: #000,
    secondary: #FFF,
);

// Color
$color-bg: #EFEEE9;
$color-wsp: #25d366;

// Tipografía
$typography :  'roboto' , sans-serif;

//Contenedor
$container-width-desktop: 1140px