@import "../utilities/variables";

// Nuestro principal objetivo
.goal {
    @include small-detail-section;

    &__section {
        @include flex-column;
        align-items: center;
        text-align: center;
        row-gap: 1.25rem;

        img {
            width: 48px;
        }

        p {
            font-size: 18px;
        }
    }
}

// Nuestro equipo de trabajo
.team {
    @include small-detail-section;

    &__section {
        @include flex-column;
        align-items: center;
        text-align: center;
        row-gap: 1.25rem;

        img {
            width: 48px;
        }

        p {
            font-size: 18px;
        }
    }
}

.video {
    margin-bottom: 60px;
}

/* ===================== MOBILE ===================== */
@media screen and (max-width: 768px) {

    .goal {
        padding: 2rem;
        margin-top: 40px;
    }

    .team {
        margin-top: 40px;
        padding: 2rem;
    }

}