@import "../utilities/variables";

/* ===================== AJUSTES GENERALES ===================== */
* {
    margin: 0; 
    padding: 0;
    border: 0;
    text-decoration: none; /* Sirve para quitar subrayados a la etiqueta*/
    list-style: none; /* Sirve para quitar viñetas de las listas */
    box-sizing: border-box;
}

body {
    background-color: $color-bg;
    font-family: $typography;
}

main {
    max-width: $container-width-desktop;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    color: map-get($color-main, primary);
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.125rem;
    font-weight: 600;
}